.control-bar {
  margin-top: 1em;
  height: 44px;
  display: table;
}

.control-bar .control {
  display: table-cell;
  vertical-align: middle;
}
.control {
  width: 44px;
  height: 44px;
  margin-right: 0.25em;
}

.control.control-large {
  width: 100px;
}

.small-print {
  border-top: 1px solid black;
  padding-top: 1em;
  font-style: italic;
  font-size: 0.8em;
}

.error {
  color: red;
  border: 2px solid red;
  padding: 1em;
  font-weight: bold;
  background-color: lightpink;
}

.editor {
  margin-bottom: 0.25em;
}

.editor input {
  height: 44px;
  margin-right: 0.5em;
}
